.env
README.md
config/homeassistant/.storage/http.auth
config/homeassistant/.storage/repairs.issue_registry
config/homeassistant/blueprints/automation/homeassistant/motion_light.yaml
config/homeassistant/blueprints/automation/homeassistant/notify_leaving_zone.yaml
config/homeassistant/blueprints/script/homeassistant/confirmable_notification.yaml
config/homeassistant/.storage/homeassistant.exposed_entities
config/homeassistant/.storage/core.uuid
config/homeassistant/.storage/core.restore_state
config/homeassistant/.storage/core.entity_registry
config/homeassistant/.storage/core.device_registry
config/homeassistant/.storage/core.config_entries
config/homeassistant/.storage/auth
config/homeassistant/.storage/assist_pipeline.pipelines
config/homeassistant/secrets.yaml
config/homeassistant/scripts.yaml
config/homeassistant/scenes.yaml
config/homeassistant/home-assistant.log.fault
config/homeassistant/home-assistant.log.1
config/homeassistant/home-assistant.log
config/homeassistant/home-assistant_v2.db-wal
config/homeassistant/home-assistant_v2.db-shm
config/homeassistant/home-assistant_v2.db
config/homeassistant/configuration.yaml
config/homeassistant/automations.yaml
config/homeassistant/.HA_VERSION
